* {
  margin: 0;
  padding: 0;
}

img {
  display: block;

  width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

.ml60 {
  margin-left: 60px;
}

.ml100 {
  margin-left: 100px;
}

.mt30 {
  margin-top: 30px;
}

.font1 {
  font-family: '迷你简准圆', serif;
  font-size: 40px;
}

.font2 {
  font-family: '锐字', serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;

  color: #6e5646;
}

#container {
  display: none;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

#container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.page-item {
  background-size: 100%;
}

.not-found {
  overflow: hidden;

  width: 100%;
  height: 100%;

  background: url('../imgs/bg14.jpg') no-repeat center center;
  background-size: 100%;

  .feedback-btn {
    font-size: 36px;
    line-height: 96px;

    position: absolute;
    bottom: 30px;
    left: 50%;

    width: 508px;
    height: 96px;

    transform: translateX(-50%);
    text-align: center;

    color: #fff;
    -webkit-border-radius: 96px;
    -moz-border-radius: 96px;
    border-radius: 96px;
    background-color: #fb7c4f;
  }
}

.top-tips {
  position: absolute;
  bottom: 30px;
  left: 50%;

  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}

.top,
.bottom {
  position: absolute;
  left: 0;

  width: 100%;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.center {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.bg-bottom {
  background-position: bottom center;
}

.text-con {
  position: absolute;
  /*top: 330px;*/
  top: 250px;
  left: 60px;
}

.text-con span {
  color: #eb6434;
}

.regular-text {
  font-size: 34px;
  font-style: italic;

  margin-top: 100px;

  color: #60412e;
}

.nickname {
  margin-left: 20px;

  color: #ed7e5b;
}

.text-top,
.text-bottom {
  position: absolute;

  display: flex;
  flex-direction: column;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 502px;
  height: 262px;
  padding: 40px;

  background: url('../imgs/rect-7-top.png') no-repeat center center;

  justify-content: space-between;

  span {
    color: #eb6434;
  }
}

.user {
  display: flex;

  align-items: center;
}

.text-top {
  top: 70px;
  left: 30px;

  padding-bottom: 60px;
}

.text-bottom {
  right: 30px;
  bottom: 234px;

  padding-top: 60px;

  background-image: url('../imgs/rect-7-bottom.png');

  align-items: flex-end;
}

.avatar {
  overflow: hidden;

  width: 60px;
  height: 60px;

  border-radius: 50%;
}

/* 第六帧 */
.item6 .text-con {
  top: 315px;
  left: 207px;
}

.item6 .text-con p:first-child {
  margin-left: 30px;
}

.item6 .text-con p:nth-child(2) {
  margin-left: 50px;
}

.item6 .text-con p:nth-child(3) {
  margin-left: -20px;
}

.item6 .text-con p:nth-child(4) {
  margin-left: 60px;
}


.item2 {
  .text-con {
    top: 140px;
  }
}

.item3,
.item4 {
  .text-con {
    top: 90px;
  }
}

.item5 {
  .text-con {
    top: 310px;
    left: 110px;
  }
}

.item7 {
  .regular-text {
    position: absolute;
    right: 65px;
    bottom: 100px;

    margin-top: 0;
  }
}

.item8,
.item9,
.item10 {
  .text-con {
    top: 80px;
  }
}

.item11 {
  .text-con {
    top: 330px;
    left: 76px;
  }

  .regular-text {
    margin-top: 60px;
  }
}

.item12 {
  font-size: 26px;

  color: #cc6c4a;

  .text-main {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .nickname {
    color: #cc6c4a;
  }

  .desc {
    color: #cebeb4;
  }
}

.keyword {
  font-size: 60px;

  color: #eb6434;
}

.get-share-img {
  font-size: 36px;
  line-height: 96px;

  width: 364px;
  height: 96px;
  margin: 0 auto;

  text-align: center;

  color: #fff;
  -webkit-border-radius: 96px;
  -moz-border-radius: 96px;
  border-radius: 96px;
  background-color: #fb7c4f;
  box-shadow: 0 0 0 10px #fae5dc;
}

.see-again {
  font-size: 30px;

  position: absolute;

  text-decoration: underline;

  color: #eb6434;
}

.qr-code {
  font-size: 22px;

  position: absolute;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 127px;
  height: 154px;
  padding: 4px;

  text-align: center;

  color: #fff;
  background-color: #fb8155;
}

@media (min-height: 1448px) ,(min-height: 1616px) {
  .item2 {
    .text-con {
      top: 202px;
    }
  }

  .item3,
  .item4 {
    .text-con {
      top: 152px;
    }
  }

  .item4 {
    .text-con {
      top: 150px;
    }
  }

  .item5 {
    .text-con {
      top: 370px;
    }
  }

  .item6 .text-con {
    top: 462px;
  }

  .text-top {
    top: 130px;
  }

  .text-bottom {
    bottom: 294px;
  }

  .item7 {
    .regular-text {
      bottom: 160px;
    }
  }

  .item8,
  .item9,
  .item10 {
    .text-con {
      top: 140px;
    }
  }

  .item11 {
    .text-con {
      top: 390px;
    }
  }
}
