.item3 {
  background-color: #e9eced;
}
.item3 .main-girl {
  position: absolute;
  left: 50%;
  bottom: 180px;
  transform: translateX(-50%);
  width: 712px;
  height: 616px;
}
.item3 .clock {
  position: absolute;
  top: 0;
  left: 0;
}
.item3 .girl {
  position: absolute;
  left: 60px;
  bottom: 20px;
  width: 529px;
  height: 339px;
}
.item3 .minute-hand {
  position: absolute;
  top: 130px;
  left: 368px;
  width: 7px;
  height: 146px;
  transform-origin: bottom;
  transform: translateX(-50%);
  animation: minute-hand 3s infinite linear;
}
@keyframes minute-hand {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.item3 .hair {
  position: absolute;
  left: 40px;
  bottom: 144px;
  width: 180px;
  height: 220px;
  background-image: url("../imgs/page3/toufa.png");
  background-size: 5580px 220px;
  background-repeat: no-repeat;
  animation-name: keyframes-3-toufa;
  animation-duration: 1.24s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
}
.item3 .gka-wrap {
  width: 220px;
  height: 200px;
}
.item3 .zhengqi {
  position: absolute;
  left: 300px;
  bottom: 300px;
  width: 220px;
  height: 200px;
  background-image: url("../imgs/page3/zhengqi.png");
  background-size: 3520px 200px;
  background-repeat: no-repeat;
  animation-name: keyframes-3-zhengqi;
  animation-duration: 0.64s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
}
@keyframes keyframes-3-zhengqi {
  0% {
    width: 220px;
    height: 200px;
    background-image: url("../imgs/page3/zhengqi.png");
    background-size: 3520px 200px;
  }
  6.25% {
    background-position: -220px 0;
  }
  12.50% {
    background-position: -440px 0;
  }
  18.75% {
    background-position: -660px 0;
  }
  25.00% {
    background-position: -880px 0;
  }
  31.25% {
    background-position: -1100px 0;
  }
  37.50% {
    background-position: -1320px 0;
  }
  43.75% {
    background-position: -1540px 0;
  }
  50.00% {
    background-position: -1760px 0;
  }
  56.25% {
    background-position: -1980px 0;
  }
  62.50% {
    background-position: -2200px 0;
  }
  68.75% {
    background-position: -2420px 0;
  }
  75.00% {
    background-position: -2640px 0;
  }
  81.25% {
    background-position: -2860px 0;
  }
  87.50% {
    background-position: -3080px 0;
  }
  93.75%,
  100% {
    background-position: -3300px 0;
  }
}
@keyframes keyframes-3-toufa {
  0% {
    width: 180px;
    height: 220px;
    background-image: url("../imgs/page3/toufa.png");
    background-size: 5580px 220px;
  }
  3.23% {
    background-position: -180px 0;
  }
  6.45% {
    background-position: -360px 0;
  }
  9.68% {
    background-position: -540px 0;
  }
  12.90% {
    background-position: -720px 0;
  }
  16.13% {
    background-position: -900px 0;
  }
  19.35% {
    background-position: -1080px 0;
  }
  22.58% {
    background-position: -1260px 0;
  }
  25.81% {
    background-position: -1440px 0;
  }
  29.03% {
    background-position: -1620px 0;
  }
  32.26% {
    background-position: -1800px 0;
  }
  35.48% {
    background-position: -1980px 0;
  }
  38.71% {
    background-position: -2160px 0;
  }
  41.94% {
    background-position: -2340px 0;
  }
  45.16% {
    background-position: -2520px 0;
  }
  48.39% {
    background-position: -2700px 0;
  }
  51.61% {
    background-position: -2880px 0;
  }
  54.84% {
    background-position: -3060px 0;
  }
  58.06% {
    background-position: -3240px 0;
  }
  61.29% {
    background-position: -3420px 0;
  }
  64.52% {
    background-position: -3600px 0;
  }
  67.74% {
    background-position: -3780px 0;
  }
  70.97% {
    background-position: -3960px 0;
  }
  74.19% {
    background-position: -4140px 0;
  }
  77.42% {
    background-position: -4320px 0;
  }
  80.65% {
    background-position: -4500px 0;
  }
  83.87% {
    background-position: -4680px 0;
  }
  87.10% {
    background-position: -4860px 0;
  }
  90.32% {
    background-position: -5040px 0;
  }
  93.55% {
    background-position: -5220px 0;
  }
  96.77%,
  100% {
    background-position: -5400px 0;
  }
}
@media (min-height: 1448px), (min-height: 1624px) {
  .item3 .main-girl {
    bottom: 240px;
  }
}
/*# sourceMappingURL=page3.css.map */